<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fintech.sst">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/icon_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:networkSecurityConfig="@xml/network_security"
        tools:ignore="GoogleAppIndexingWarning">
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="支付宝订单监控" />
        <meta-data
            android:name="xposedminversion"
            android:value="54" />

        <activity android:name=".ui.activity.config.ConfigActivity" />
        <activity android:name=".ui.activity.login.LoginActivity" />
        <activity
            android:name=".ui.activity.aisle.AisleManagerActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.NotificationListener"
            android:enabled="true"
            android:exported="false"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
        <!-- <service -->
        <!-- android:name=".service.HeartJobService" -->
        <!-- android:permission="android.permission.BIND_JOB_SERVICE" /> -->
        <service android:name=".service.HeartService" />

        <activity
            android:name=".ui.activity.order.OrderListActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.activity.notice.NoticeListActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.activity.setting.SettingActivity"
            android:launchMode="singleTask" />
        <activity
            android:name="com.fintech.match.pay_2.wxapi.WXEntryActivity"
            android:exported="true"
            android:theme="@style/App_WXEntry" />
        <activity android:name=".other.xposed.XposedActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>

        <service
            android:name=".service.AliService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".service.WechatService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".service.BankService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".service.YunService"
            android:enabled="true"
            android:exported="true"/>
        <service
            android:name=".service.QQService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>